body {
  margin: 0;
  padding-top: 50px; /* Add padding to separate content from the fixed header */
  padding-bottom: 60px; /* Add padding to separate content from the fixed footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0;
  transition: background-color 0.3s, color 0.3s;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-image {
  position: absolute;
  width: 125%; /* To ensure the image covers the whole viewport during the movement */
  height: 125%;
  opacity: 0.5;
  animation: moveCamera 40s infinite linear; /* Slowed down the animation */
}

@keyframes moveCamera {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20%, -20%);
  }
  50% {
    transform: translate(-20%, 0);
  }
  75% {
    transform: translate(0, -20%);
  }
}

.upper-footer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(45deg, rgba(255, 182, 193, 0.8), rgba(255, 105, 180, 0.8));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.upper-footer a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.search-container {
  flex: auto;
  display: flex;
  justify-content: center;
}

.search-box {
  background-color: white;
  border-radius: 33px;
  padding: 0 10px; /* Adjusted padding for better fit */
  display: flex;
  align-items: center;
  height: 32px; /* Adjusted height for smaller search box */
  width: 400px; /* Adjusted width for smaller search box */
  transition: background-color 0.3s;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  height: 100%;
}

.search-button {
  margin-left: 10px;
  padding: 4px 12px; /* Adjusted padding for smaller search button */
  border-radius: 22px;
  border: none;
  background-color: #faa2ce;
  color: white;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-button {
  margin-left: 10px;
  padding: 4px 12px;
  border-radius: 22px;
  border: none;
  background-color: #ff69b5;
  color: white;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(45deg, rgba(255, 182, 193, 0.8), rgba(255, 105, 180, 0.8));
  color: white;
  z-index: 2;
  height: 78px; /* Adjusted footer height */
  display: flex;
  align-items: center;
  transition: background 0.3s;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Adjust padding to position content */
  width: 100%;
}

.footer-section {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Add margin between sections */
}

.footer-section h5 {
  margin: 0 10px 0 0;
}

.footer-section p {
  margin: 0;
}

.footer-right {
  margin-left: auto; /* Push to the right */
}

.night-mode .upper-footer {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(20, 20, 40, 0.8));
}

.night-mode .page-footer {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(20, 20, 40, 0.8));
}

.night-mode .content-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  color: #d3d3d3;
  transition: background-color 0.3s, color 0.3s;
}

.night-mode .search-box {
  background-color: rgba(50, 50, 50, 0.8);
  color: #d3d3d3;
}

.night-mode .search-input {
  background-color: transparent;
  color: #d3d3d3;
}

.night-mode .search-button,
.night-mode .toggle-button {
  background-color: rgba(50, 50, 50, 0.8);
  color: #d3d3d3;
}

.search-result-wrapper {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50px; /* Below the header */
  width: 100%;
  z-index: 3;
  transition: transform 0.5s, opacity 0.5s;
}

.search-result-wrapper.show {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

.search-result-wrapper.hide {
  transform: translateY(-100%);
  opacity: 0;
}